
header {
    position: fixed;
    width: 100%;
}

main {
    position: relative;
    z-index: -100;
    width: 100%;
    top: 6.29rem;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #faedb7;
    color: #444;

    h1 {
        text-transform: uppercase;
    }
}