nav {
    position: fixed;
    z-index: 2;
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;

        .nav-logo {
            text-decoration: none;
            color: #fff;
        }
    }
}