nav {
    position: fixed;
    z-index: 2;

    .navbar {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        border: 2px solid black;

        .nav-logo {
            p {
                text-decoration: none;
                font-weight: bolder;
                color: #000;
                text-transform: uppercase;
            }
        }
    }
}